@font-face {
    font-family: 'Lateef';
    src: url(../../assets/fonts/Lateef/Lateef-Bold.ttf);
}


body {
    background-color: #F4E9D5;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
