@font-face {
    font-family: 'Lateef';
    src: url(../../assets/fonts/Lateef/Lateef-Bold.ttf);
}
@font-face {
    font-family: 'Tomato Ketchap';
    src: url(../../assets/fonts/Tomato/Tomato\ Ketchup\ copy.otf);
}


body {
    background-color: #F4E9D5;
}

#header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
