
nav {
    display: flex;
    justify-content: left;
    width: max-content;
    margin-left: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 150px;
    padding: 0 50px;
    margin-top: 14px;
    border-bottom: 1px solid black;

}

nav ul li a {
    font-family: 'Lateef', sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 40px;
}

nav ul li a.active {
    color: #980C17;
}